body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    background: rgb();
    font-family: Arial, Helvetica, sans-serif;
}

.todo-header {
    color: rgb(166, 233, 168);
    font-size: 30px;
}

.todo-header__title {
    margin-bottom: 20px;
}

.todo-form__input {
    padding: 10px;
    background-color: rgb(236, 245, 240);
    border: none; 
    width: 200px;
    font-size: 18px;
    outline-color: gray;

        &::placeholder {
            color: rgb(166, 233, 168);
        }
}